<!DOCTYPE html>
<head>
<meta charset="UTF-8">
</head>
<body style="background-color:powderblue;">
<form action = "{{ url_for('predict') }}"" method = "POST">
   <div class="vertical-center">
   <h1 style="background-color:Orange">Check Sentiment value for movie review</h1>
   </div>
   <p>Review <input type = "text" name = "review" /></p>
   <p><input type = "submit" value = "Check Sentiment" /></p>
   <p style="font-size:48px">
&#128512; &#128516; &#128517; &#128514;
</p>
<p><a href="https://optimalxai.com/">Visit to OptimalXAI website for more detail : https://optimalxai.com/ </a></p>
</form>

</body> 
</html>

