<!doctype html>
<head>
<meta charset="UTF-8">
</head>
<style>
table, th, td {
  border:1px solid black;
}
th, td {
  background-color: #ffa500;
}
</style>
<body style="background-color:powderblue;">
<div class="vertical-center">
<h2 style="background-color:Orange" >Sentiment Analyzer Engine Output</h2>
 <table style="width:100%">
  <tr>
    <td>Predition Label</td>
    <td>Sentiment</td>
  </tr>
  <tr>
    <td>{{pred}}</td>
    <td>{{sent}}</td>
  </tr>
</table>
 <p style="font-size:48px">
&#128512; &#128516; &#128517; &#128514;
</p>
  <p align="center"><button onclick="history.back()">Go Back</button></p>
  <p><a href="https://optimalxai.com/">Visit to OptimalXAI website for more detail : https://optimalxai.com/ </a></p>
</body>
</html>
 