beautifulsoup4
boto==2.49.0
cloudpickle
GitPython==3.1.27
html5lib
ipykernel
ipython
ipython-genutils
Jinja2
jinja2-time
joblib
json5
jsonschema
jupyter
flask
keras==2.9.0
Keras-Preprocessing==1.1.2
lxml
matplotlib
matplotlib-inline
nltk==3.6.5
num2words==0.5.10
numba
numexpr
numpy
numpydoc
pandas
pep8==1.7.1
pickleshare
Pillow==8.4.0
plotly==5.8.2
prettytable==3.3.0
pytest==6.2.4
python-dateutil
python-docx==0.8.11
python-editor==1.0.4
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyWavelets
regex
scikit-learn
scipy
seaborn
shap
snowballstemmer
wordcloud